@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.headerWrapper {
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    padding: 0px 10%;
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
}

.header-links {
    display: flex;
    gap: 18px;
    flex-shrink: 0;
    padding: 0;

}

ul {
    list-style-type: none;
}

.maintitle {
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    font-weight: bold;
}

.hero {
    position: relative;
    background-color: #1F2937;
    padding: 0px 10%;
    margin: 90px 0;
    flex: 1;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    gap: 18px;
}

.heroMainText {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    max-width: 500px;
    flex-wrap: wrap;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.heroSecondary {
    font-size: 18px;
    max-width: 500px;
    color: #E5E7EB;
}

.signUpButton {
    max-width: 100px;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    font-weight: 550;
}

.placeholderImage {
    color: black;
    background-color: #E5E7EB;
    width: 500px;
    height: 225px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.whiteContainer {
    background-color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information {
    padding: 52px 0;
    background-color: white;
    min-height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

	flex-wrap: wrap;

}

.informationText {
    margin-bottom: 32px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 1000;
    text-align: center;
}

.informationImages {
    display: flex;
    padding: 0 15%;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
}

.informationImageContainer {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    flex-wrap: wrap;
}

.informationImageSubtext {
    margin-top: 8px;
    text-align: center;
    color: rgb(121, 121, 121);
    font-size: 18px;
}

.informationImageBox {
    width: 175px;
    height: 175px;
    border:  4px solid #3882F6;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote {
    flex: 1;
    background-color: #E5E7EB;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;

}

.quoteText {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.quoteAuthor {
    color: #1F2937;
    font-size: 24px;
    text-align:  center;
    font-weight: bold;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding: 0 22%;
}

.signUp {
    min-height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.blueBox {
    flex: 1 1 0;
    flex-grow: 20;
    max-height: 120px;
    border:  4px solid #3882F6;
    border-radius: 16px;
    background-color:#3882F6;
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
    padding: 0 100px;
    gap: 16px;
}

.blueBoxMainText {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.blueBoxSubtext {
    font-weight: 300;
    font-size: 18px;
}

.signUpButtonBottom
{
    color: #F9FAF8;
    border:  2px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 32px;
    height: 20px;
    text-align: center;
    width: auto;
    font-weight: bold;
    flex-shrink: 0;
}

.footer {
    margin-top: auto;
    width: auto;
    height: 80px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    flex-wrap: wrap;
}